*.bak
*.[o]
*~
*.swp
*.swo
*.bak
out/
v8.log
R.java
*.img
*.log
default.properties
bin/
gen/
*.tmp
*.db
*.classpath
packages/apps/*/.classpath
packages/apps/Settings/tests/.classpath
packages/apps/Launcher2/lint.xml
&1
.svn/
.goutputstream*
project.properties
.project